@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=latin-ext');
* {
    font-family: 'Open Sans', sans-serif;
}
html {
    width: 100%;
    height: 100%;
}
body {
    margin: auto;
    background-color: #1e1e1e;
}


/*--HEADER--*/
.title-bar {
    /* background-color: #333333; kolor paska bez focusu na okno */
    background-color: #3c3c3c;  /*kolor paska z focuesem*/
    text-align: center;
}
.menu {
    display: inline-block;
    padding: 0;
} .menu ul {
    margin: 0;
    padding: 0; 
    list-style-type: none;
} .menu li {
    margin: -2px;
    display: inline-block;
    padding: 6px;
    padding-bottom: 7px;
    color: #bcbcbc;
    font-size: 10pt;
} .menu li:hover {
    background-color: #505050;
    cursor: pointer;
}
.title {
    height: 25px;
    margin: 0;
    display: inline-block;
    padding: 0 36% 0 37.5%;
    color: #bcbcbc;
    text-align: center;
    font-weight: 500;
    font-size: 10pt;
    -webkit-app-region: drag;
}
.btns-group {
    display: inline-block;
} .title-btn {
    height: 32px;   
    width: 46px;
    margin: -2px;
    /* background-color: #333333; kolor przycisków bez focusu na okno */
    background-color: #3c3c3c;  /*kolor przycisków z focuesem*/
    color: #bcbcbc;
    border: none;
    outline: none;
} .title-btn:hover {
    background-color: #505050;
    cursor: pointer;
} #close:hover {
    background-color: #ca0000;
}
/*-!HEADER!-*/


/* 
width
height
margin (all, top, right, bottom, left)
float
display
padding (all, top, right, bottom, left)
bg color
color
text-align
text-transform
*/