@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=latin-ext');
* {
    font-family: 'Open Sans', sans-serif;
}
html {
    width: 100%;
    height: 100%;
}
body {
    margin: auto;
    background-color: #1e1e1e;
} .bdd {
    min-height: 650px;
}


/*--HEADER--*/
.title-bar {
    /* background-color: #333333; kolor paska bez focusu na okno */
    background-color: #3c3c3c;  /*kolor paska z focuesem*/
    text-align: center;
}
.menu {
    display: inline-block;
    padding: 0;
    position: relative;
} .menu ul {
    margin: 0;
    padding: 0; 
    list-style-type: none;
    position: relative;
} .menu li {
    margin: -2px;
    display: inline-block;
    padding: 6px;
    padding-bottom: 7px;
    color: #cccccc;
    font-size: 10pt;
    position: relative;
} .menu li:hover {
    background-color: #505050;
    cursor: default;
}

/*--Dropdown Menu--*/
.menu ul .dropdown {
    top: 31px;
    left: 0;
    display: none;
    padding: 0;
    background-color: #252526;
    position: absolute;
} .menu ul .li-drop {
    min-width: 120px;
    float: none;
    padding-top: 3px;
    padding-left: 12px;
    text-align: left;
} .menu ul .li-drop:hover {
    background-color: #094771;
    color: #f0f4f7;
}
/*-!Dropdown menu!-*/

.title {
    height: 25px;
    margin: 0;
    display: inline-block;
    padding: 0 36% 0 37.5%;
    color: #cccccc;
    text-align: center;
    font-weight: 500;
    font-size: 10pt;
    -webkit-app-region: drag;
}
.btns-group {
    display: inline-block;
} .title-btn {
    height: 32px;   
    width: 46px;
    margin: -2px;
    /* background-color: #333333; kolor przycisków bez focusu na okno */
    background-color: #3c3c3c;  /*kolor przycisków z focuesem*/
    color: #bcbcbc;
    border: none;
    outline: none;
} .title-btn:hover {
    background-color: #505050;
    cursor: default;
} #close:hover {
    background-color: #d61424;
} .title-btn:last-child {
    margin-right: -3px;
}
/*-!HEADER!-*/


/* 
width
height
margin (all, top, right, bottom, left)
float
display
padding (all, top, right, bottom, left)
bg color
color
text-align
text-transform
*/

/* base.js */

header.base {
    height: 105px;
    border-radius: 6px;
    border: solid 1px white;
    background-color: #3e4549;
    text-align: right;
    margin: 10px 3px;
}

header.base section#inputBox {
    height: 45px;
    margin: 8px 6px;
    line-height: 45px;
}

header.base section#resultBox {
    height: 30px;
    margin: 8px 6px;
    line-height: 30px;
}

.highlited {
    font-weight: bold;
    font-size: 28pt;
    color: white;
}

.unhighlited {
    font-weight: normal;
    font-size: 18pt;
    color: rgb(173, 173, 173);
}