/*--INFO--*/
/* Author: Patryk Piszczek */
/* Contributors: Gabriel Kr贸l, Hubert Batkiewicz */
/*-!INFO!-*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=latin-ext');
* {
    font-family: 'Open Sans', sans-serif;
}
html {
    width: 100%;
    height: 100%;
}
body {
    margin: auto;
    background-color: #1e1e1e;
} .bdd {
    min-height: 650px;
}


/*--HEADER--*/
.title-bar {
    /* background-color: #333333; kolor paska bez focusu na okno */
    background-color: #3c3c3c;  /*kolor paska z focuesem*/
    display: inline-block;
    text-align: center;

    width: 100%;
    
    
    -webkit-user-select: none; /* tekst na g贸rnym pasku nie jest zaznaczalny*/
}
.menu {
    float: left;
    padding: 2px;
    position: relative;

} .menu ul {
    margin: 0;
    padding: 0; 
    list-style-type: none;
    position: relative;

} .menu li {
    margin: -2px;
    display: inline-block;
    padding: 6px 8px;
    padding-bottom: 7px;
    color: #cccccc;
    font-size: 10pt;
    position: relative;

} .menu li:hover {
    background-color: #505050;
    cursor: default;
}

/*--Dropdown Menu--*/
.menu ul .dropdown {
    top: 31px;
    left: 0;
    display: none;
    padding: 0;
    background-color: #252526;
    position: absolute;
} .menu ul .li-drop {
    min-width: 120px;
    float: none;
    padding: 5;
    margin: 0;

    text-align: left;
} .menu ul .li-drop:hover {
    background-color: #094771;
    color: #f0f4f7;
    
}
/*-!Dropdown menu!-*/

.title {

    margin-bottom: -10px;
    justify-content: center;
    padding: 2px;
    margin-top: 4px;
    display: inline-block;
    color: #cccccc;
    text-align: center;
    font-weight: 500;
    font-size: 10pt;
    -webkit-app-region: drag;
}
.btns-group {
    float: right;
    padding: 2px;
    margin-right: 1px;
    position: relative;
} .title-btn{
    height: 32px;   
    width: 46px;
    margin: -2px;
    /* background-color: #333333; kolor przycisk贸w bez focusu na okno */
    background-color: #3c3c3d;  /*kolor przycisk贸w z focuesem*/
    color: #bcbcbc;
    border: none;
    outline: none;
} .title-btn:hover {
    background-color: #505050;
    cursor: default;
} #close:hover {
    background-color: #d61424;
} .title-btn:last-child {
    margin-right: -3px;
}
/*-!HEADER!-*/

/*--base.js--*/
/*--MAIN--*/
header.base {
    height: 105px;
    border-radius: 6px;
    border: solid 1px #a1a1a1;
    background-color: #2b2b2b;
    text-align: right;
    margin: 10px 3px;
    -webkit-user-select: none;
}
header.base:active {
    background-color: rgb(20, 20, 20);
}
header.base section#inputBox {
    height: 45px;
    margin: 8px 6px;
    line-height: 45px;
}
header.base section#resultBox {
    height: 30px;
    margin: 8px 6px;
    line-height: 30px;
}

.highlited {
    font-weight: bold;
    font-size: 28pt;
    color: #fff;
} 
.unhighlited {
    font-weight: normal;
    font-size: 18pt;
    color: #bcbcbc;
}

.calcButton {
    margin: 2px;

    height: 50px;
    width: 70px;

    text-align: center;
    align-items: flex-start;
    background-color: rgb(223, 223, 223);
    outline: none;

    border: solid 1px rgb(124, 124, 124);
    border-radius: 3px;
    box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
    color: #5e5e5e;

    font-size: 26pt;

    -webkit-transition: background-color 0.2s ease-out;
    -moz-transition: background-color 0.2s ease-out;
    -o-transition: background-color 0.2s ease-out;
    transition: background-color 0.2s ease-out;

    cursor: pointer;
    -webkit-user-select: none;
}

#btnequals {
    line-height: 105px;
}

.activated {
    margin: 2px;

    text-align: center;
    align-items: flex-start;
    height: 50px;
    width: 70px;

    outline: none;

    border: solid 1px rgb(124, 124, 124);
    border-radius: 3px;
    box-shadow: 0px 4px rgba(0, 0, 0, 0.2);

    font-size: 26pt;

    -webkit-transition: background-color 0.2s ease-out;
    -moz-transition: background-color 0.2s ease-out;
    -o-transition: background-color 0.2s ease-out;
    transition: background-color 0.2s ease-out;

    cursor: pointer;
    -webkit-user-select: none;
    background-color: #22282e;
    color: rgb(204, 204, 204);
}

table#base {
    display: flex;
    justify-content: center;
}
/*-!MAIN!-*/

/*--func2d.js*/
/*--MAIN--*/
.inputs-group {
   
float: left;
width: 100%;
} .fx, .fx-btn {
    background-color: rgb(223, 223, 223);

    border: solid 1px rgb(124, 124, 124);
    border-radius: 3px;
    box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
    color: #5e5e5e;

    padding: 10px;
    font-size: 14pt;


    

} .fx-desc {
    margin-right: 10px;
    width: 20px;
} .fx-inp {
    width: 50px;
    margin-right: 10px;
    padding: 4px;
    padding-right: 35px;
} .fx-btn:hover {
    background-color: #3c3c3c;
    color: #bcbcbc;
    cursor: pointer;
} #fx-draw{
    width: 130px;
} #square{
    float: right;
    height: 15px;    
} .fxw{
    
    float: left;
    padding-right: 500px;
    
} .fxx{
    float: left;
    padding-right: 395px;
    margin-top: 10px;
} .fxd{
    float: left;
    padding-right: 500px;
    margin-top: 10px;
    
}


/*-!MAIN!-*/

/*--about.html--*/
.about-main {
    margin: auto;
    padding-bottom: 0;
    text-align: center;
    color: #ccc;
    font-weight: 550;
    font-size: 15pt;
} .about-img {
    width: 20%;
    margin: 0;
    padding: 10px;
    padding-top: 15px;
} .about-desc {
    margin-top: -17px;
    padding: 0;
    font-weight: 400;
    font-size: 13pt;
} .desc-group {
    margin-left: auto;
    width: 56%;
    text-align: left;
} .desc {
    margin: 0;
    padding: 0;
    font-weight: 200;
    font-size: 11pt;
} .desc:first-child {
    padding-top: 10px;
} .desc#chromium {
    padding-top: 10px;
} .desc#gpl {
    color: #ccc;
    font-weight: 550;
    text-decoration: none;
}
/*-!about.html!-*/

/* 
width
height
margin (all, top, right, bottom, left)
float
display
padding (all, top, right, bottom, left)
bg color
color
text-align
text-transform
*/